
body, input, select, textarea, button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

h1 {
  text-align:center;
  font-size: 70px;
  color: red;
}

h2 {
  text-align:center;
  font-size: 35px;
  color: black;
  margin-top: 70px;
}

form {
  background-color: #EBECF0;
  padding: 10px;
  margin: 0 auto;
  width: 900px;
  height: 350px;
  border: 3px solid red;
  border-radius: 30px;
}

.form_recipe_fields {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button, input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 25px;
  padding: 20px;
  background-color:#EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

label {
  margin-bottom: 10px;
  width: 400px;
  height: 100px;
}

.recipe_fields {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 15px;
}

input {
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  margin-top: 15px;
}

input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px white;
}

button {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  margin-top: 15px;
  margin-left: 250px;
}

  
button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

button.addButton {
  display: block;
  color: red;
  width: 400px;
}

div.containerRecette {
  background-color:blanchedalmond;
  width: 1200px;
  height: 700px;
  margin-left: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}